@import url('https://fonts.googleapis.com/css2/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2');

body {
    font-family: "Book Antiqua", "Courier New", monospace;
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #e9e65d;
    padding: 6px;
  }
  
  h1, h2 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #333;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
  }
