/* NOTE: Icon styling starts here. */
#categoryBtnBox {
  padding: 5px;
}

#categoryBtn {
  margin-top: 18px;
  border-radius: 50%;
  color: grey;
  padding: 4px;
  transition: 0.4s ease;
}

#categoryBtn:hover {
  cursor: pointer;
}

.categoryBtnRotate {
  animation: rotate 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.categoryBtnRotateBack {
  animation: rotateBack 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
/* NOTE: Icon styling ends here. */

/* NOTE: Rotation animation starts here. */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* NOTE: Rotation animation ends here. */

/* NOTE: Option box styling starts here. */

.hideProps {
  visibility: hidden;
}

.firstCatBox span,
.secondCatBox span,
.thirdCatBox span {
  width: 9vw;
  height: 4.5vh;
  border-radius: 8px;
  margin: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firstCatBox span:hover,
.secondCatBox span:hover,
.thirdCatBox span:hover {
  cursor: pointer;
  background-color: grey;
}

.firstCatBox,
.secondCatBox,
.thirdCatBox {
  border: 1px solid rgb(127, 127, 127);
  color: white;
  display: flex;
  position: absolute;
  top: 9.5vh;
  flex-direction: column;
  font-size: 1rem;
  border-radius: 8px;
  align-items: center;
  height: 28vh;
}

.firstCatBox {
  left: 8vw;
}

.secondCatBox {
  left: 18vw;
}

.thirdCatBox {
  left: 28vw;
}
/* NOTE: Option box styling ends here. */
